@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200), // The primary color of your application
  accent: #50AC7B, // The accent or secondary color
  theme: "light"
));

@import "~vue-material/dist/theme/all"; // Apply the theme